.home-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.home-container p{
    font-size: 18px;
}

.img-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.display-image{
    width: 60%;
    border: 3px solid black;
    padding: 0;
    margin: 5px;
}