.header {
    text-align: center;
    background-color: #f8f9fa;
    /* background: linear-gradient(90deg, #0337af93,#19045d); */
    /* width: fit-content; */
    /* padding: 1em; */
    border-bottom: 2px solid #000000f6;
}

#header-bar-site-name{
    /* text-decoration: line-through rgba(0, 0, 255, 0.581) dotted  5px; */
    font-size: larger;
    text-shadow: 2px 2px #0000004f;
    /* text-decoration: underline blue solid  2px; */
    /* list-style: none; */
}

.nav-list{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0;

    list-style: none;
}

.nav-list li{
    margin: 0.25em 1.5em 0.25em 0;
}

.nav-list li a{
    text-decoration: none;
    color: #000000;
}

.nav-list li a:hover{
    color: #007bff;
    transition-duration: 0.2s;
    text-decoration: underline;
    font-weight:bolder;
}

/* 


.nav-list ul{
    width: fit-content;
    display: flex;
    align-items: center;
}

.nav-list li{
    width: fit-content;
    height: fit-content;
    padding: 3px;
    margin-top: 2px;
    margin-bottom: 2px;
    display: inline-block;
    background-color: aliceblue;
}

.nav-list li{
    width: fit-content;
    height: fit-content;
    padding: 3px;
    margin-top: 2px;
    margin-left: 1em;
    margin-right: 1em;
    margin-bottom: 2px;
    display: inline-block;
    background-color: aliceblue;
} */
